*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.logo {
  margin-left: 1rem;
}

.avatar {
  width: 25px;
  height: 25px;
}

.nav {
  padding: 1rem 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__list--primary {
  display: none;
}

.nav__item > a {
  text-decoration: none;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

.nav__item--cart {
  margin-right: 1rem;
}

.nav__item--cart:after {
  content: attr(value);
  background: hsl(26, 100%, 55%);
  color: white;
  font-weight: 700;
  font-size: 12px;
  border-radius: 10px;
  padding: 0 6px;
  position: relative;
  left: -15px;
  top: -15px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__current-price {
  align-items: center;
}

.product__discount {
  margin: 0 auto;
}

.product__information {
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 1rem;
}

.product__company {
  color: hsl(26, 100%, 55%);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.75px;
}

.product__title {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: hsl(0, 0%, 0%);
}

.product__description {
  margin: 0;
  line-height: 1.5;
  color: hsl(219, 9%, 45%);
}

.product__pricing {
  align-items: center;
}

.product__price {
  color: hsl(0, 0%, 0%);
  margin-right: 1rem;
}

.product__discount {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  background-color: hsl(25, 100%, 94%);
}

.product__retail-price {
  color: hsl(220, 14%, 75%);
  font-weight: bold;
  text-decoration: line-through;
}

.product__display-slider {
  display: none;
}

.product__display-thumbnail {
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  min-width: 0;
}

.product__display-thumbnail + .product__display-thumbnail {
  margin-left: 0.5rem;
}

.product__purchase {
  width: 100%;
  flex-direction: column;
}

.product__add-items {
  border: 2px solid gray;
}

.product__add-to-cart {
  margin: 1rem 0;
  border: 2px solid orangered;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 80%;
  }

  .logo {
    margin-left: 0;
    margin-right: 3rem;
  }

  .nav__item--cart {
    margin-right: 2rem;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
  }

  .avatar:hover,
  .avatar:focus {
    outline: none;
    border: 2px solid hsl(26, 100%, 55%);
  }

  .nav__list--mobile {
    display: none;
  }

  .nav__list--primary {
    display: flex;
  }

  .nav {
    padding: 0;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }

  .nav__item > a {
    display: block;
    border-bottom: 4px solid transparent;
    padding: 3rem 0;
    margin: 0 1rem;
  }

  .nav__item > a:hover,
  .nav__item > a:focus {
    outline: none;
    border-bottom: 4px solid hsl(26, 100%, 55%);
  }

  .product {
    flex-direction: row;
    width: 75%;
    margin: 5rem auto;
  }

  .product__imgs {
    width: 45%;
  }

  .product__display {
    border-radius: 2.5%;
    margin-bottom: 1.5rem;
  }

  .product__display-slider {
    display: flex;
  }

  .product__information {
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 45%;
  }

  .product__pricing {
    align-items: flex-start;
    flex-direction: column;
  }

  .product__price {
    margin: 0.5rem 1rem 0.5rem 0;
  }

  .product__purchase {
    flex-direction: row;
  }
  .product__add-items {
    width: 34%;
  }
  .product__add-to-cart {
    width: 64%;
  }
}
