*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.logo {
  margin-left: 1rem;
}

.avatar {
  width: 25px;
  height: 25px;
}

.nav {
  padding: 1rem 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item > a {
  text-decoration: none;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

.nav__item--cart {
  margin-right: 1rem;
}

.nav__item--cart:after {
  content: attr(value);
  background: hsl(26, 100%, 55%);
  color: white;
  font-weight: 700;
  font-size: 12px;
  border-radius: 10px;
  padding: 0 6px;
  position: relative;
  left: -15px;
  top: -15px;
}

.nav__list--primary {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 80%;
  }

  .logo {
    margin-left: 0;
    margin-right: 3rem;
  }

  .nav__item--cart {
    margin-right: 2rem;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
  }

  .avatar:hover,
  .avatar:focus {
    outline: none;
    border: 2px solid hsl(26, 100%, 55%);
  }

  .nav__list--mobile {
    display: none;
  }

  .nav__list--primary {
    display: flex;
  }

  .nav {
    padding: 0;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }

  .nav__item > a {
    display: block;
    border-bottom: 4px solid transparent;
    padding: 3rem 0;
    margin: 0 1rem;
  }

  .nav__item > a:hover,
  .nav__item > a:focus {
    outline: none;
    border-bottom: 4px solid hsl(26, 100%, 55%);
  }
}
