*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.header {
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 1rem;
}

.avatar {
  width: 20px;
  height: 20px;
}
.nav__item + .nav__item {
  margin-left: 1rem;
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;

  align-items: center;
}

.nav__list--primary {
  display: none;
}

.nav__list--secondary {
  display: flex;
}
