@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
