*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.logo {
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.avatar {
  width: 25px;
  height: 25px;
}

.nav {
  padding: 1rem 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__list--primary {
  display: none;
}

.nav__item > a {
  text-decoration: none;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

.nav__item--cart {
  position: relative;
  margin-right: 1rem;
}

.cart {
  width: calc(100% - 16px);
  max-width: 360px;
  min-height: 256px;
  background-color: #ffffff;
  box-shadow: rgb(104 112 125) 0px 10px 30px -10px;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  right: 8px;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.cart__title {
  height: 65px;
  padding: 0 1.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(182, 188, 200);
  margin: 0;
}

.cart__contents {
  /* margin: 1.5rem 1.5rem 2rem; */
  margin: auto;
}

.cart__empty {
  color: rgb(104, 112, 125);
  font-weight: 700;
}

.cart__delete-item {
  border: none;
  height: 1rem;
  background-color: transparent;
}

.cart__product-img {
  height: 100%;
  border-radius: 5px;
}

.cart__product-info {
  padding: 0 0.5rem 0px 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.cart__product-info > p {
  margin: 0;
}

.cart__checkout {
  height: 3.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 1.5rem;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: rgb(255, 125, 26);
}

#cart__item-count {
  background: hsl(26, 100%, 55%);
  color: white;
  font-weight: 700;
  font-size: 12px;
  border-radius: 10px;
  padding: 0 6px;
  position: relative;
  left: 35px;
  top: -15px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__current-price {
  align-items: center;
}

.product__discount {
  margin: 0 auto;
}

.product__information {
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 1rem;
}

.product__company {
  color: hsl(26, 100%, 55%);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.75px;
}

.product__title {
  font-size: 2rem;
  margin: 1rem 0;
  color: hsl(0, 0%, 0%);
}

.product__description {
  margin: 0;
  line-height: 1.5;
  color: hsl(219, 9%, 45%);
}

.product__pricing {
  align-items: center;
}

.product__price {
  font-size: 1.75rem;
  color: hsl(0, 0%, 0%);
  margin-right: 1rem;
}

.product__discount {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  background-color: hsl(25, 100%, 94%);
}

.product__retail-price {
  color: hsl(220, 14%, 75%);
  font-weight: bold;
  text-decoration: line-through;
}

.product__display-slider {
  display: none;
}

.product__display-thumbnail {
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  min-width: 0;
}

.product__display-thumbnail + .product__display-thumbnail {
  margin-left: 1.5rem;
}

.product__purchase {
  width: 100%;
  flex-direction: column;
}

.product__add-items {
  padding: 1rem 0;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}

.product__change-item-amount {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.product__change-item-amount:hover {
  border: none;
  background-color: inherit;
  cursor: pointer;
  opacity: 50%;
}

#product__item-amount {
  font-size: 1.25rem;
  font-weight: 700;
}

.product__add-to-cart {
  margin: 1rem 0;
  padding: 1rem 0;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  background-color: hsl(26, 100%, 55%);
  box-shadow: 0px 20px 30px -5px hsl(26, 100%, 55%, 0.3);
}

.product__add-to-cart:hover {
  background-color: hsl(26, 100%, 55%, 0.75);
}

@media only screen and (min-width: 600px) {
  .cart {
    right: 2.5%;
  }

  .product {
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 3rem auto;
  }

  .product__imgs {
    max-width: 500px;
    width: 80%;
  }

  .product__display {
    border-radius: 2.5%;
    margin-bottom: 1.5rem;
  }

  .product__display-slider {
    display: flex;
  }

  .product__information {
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    margin-top: 2rem;
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .cart {
    top: 96px;
    right: 5%;
  }

  .container {
    width: 80%;
  }

  .logo {
    margin-left: 0;
    margin-right: 3rem;
  }

  .nav__item--cart {
    margin-right: 2rem;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
  }

  .avatar:hover,
  .avatar:focus {
    outline: none;
    border: 2px solid hsl(26, 100%, 55%);
  }

  .nav__list--mobile {
    display: none;
  }

  .nav__list--primary {
    display: flex;
  }

  .nav {
    padding: 0;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }

  .nav__item > a {
    display: block;
    border-bottom: 4px solid transparent;
    padding: 3rem 0;
    margin: 0 1rem;
  }

  .nav__item > a:hover,
  .nav__item > a:focus {
    outline: none;
    border-bottom: 4px solid hsl(26, 100%, 55%);
  }

  .product {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5rem auto;
  }

  .product__imgs {
    width: 45%;
  }

  .product__information {
    max-width: 600px;
    width: 45%;
  }

  .product__description {
    margin: 1rem 0;
  }

  .product__title {
    font-size: 3rem;
  }
  .product__company {
    font-size: 1rem;
  }

  .product__pricing {
    align-items: flex-start;
    flex-direction: column;
  }

  .product__price {
    margin: 0.5rem 1rem 0.5rem 0;
  }

  .product__retail-price {
    font-size: 1.15rem;
  }

  .product__purchase {
    margin: 2.5rem 0;
    flex-direction: row;
  }

  .product__add-items {
    padding: 1rem;
    width: 40%;
    align-items: center;
  }

  .product__add-to-cart {
    margin: 0;
    width: 58%;
  }
}
