.cart-modal {
  position: absolute;
  top: 76px;
  right: 8px;
  width: calc(100% - 16px);
  max-width: 360px;
  min-height: 256px;
  z-index: 100;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: rgb(104 112 125) 0px 10px 30px -10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
