.header {
  display: flex;
  justify-content: space-between;
}

.header__items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
}
