.nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1.5rem 0;
}

.nav__items {
  margin: 0 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 1rem;
  list-style: none;
}

.menu--desktop {
  display: none;
}

.menu--desktop > li {
  display: flex;
  align-items: center;
  margin: auto 0.5rem;
  height: 100%;
}

.menu--mobile {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  background: transparent;
  border: none;
}

@media (min-width: 768px) {
  .nav {
    padding: 3rem 0;
  }

  .menu--desktop {
    display: flex;
  }

  .menu--mobile {
    display: none;
  }

  .nav {
    flex-direction: row;
  }
}
